.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.git/**
node_modules/**
scripts/**
images/**/*.psd
**/*.vsix
.github/**
.eslintrc.js
webpack.config.js

# 不忽略这些文件
!out/**
!rules/**
